<!DOCTYPE html>
<html lang="en">

<head>
   <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
   <link href="https://cdn.nmyk.io/assets/style-new.css" rel="stylesheet">
   <link href="https://cdn.nmyk.io/assets/favicon.ico" rel="icon">
   <script type="text/javascript" src="https://cdn.nmyk.io/assets/email_address.js"></script>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="description" content="Nick Mykins is a software engineer and electronic musician based in New York City."/>
   <title>nmyk.io</title>

    <script>
        window.addEventListener("load", function(evt) {
            var output = document.getElementById("output");
            var input = document.getElementById("input");
            var ws;
            var print = function(message) {
                var d = document.createElement("div");
                d.textContent = message;
                output.appendChild(d);
            };
            document.getElementById("open").onclick = function(evt) {
                if (ws) {
                    return false;
                }
                ws = new WebSocket("ws://localhost:8080/echo")
                ws.onopen = function(evt) {
                    print("OPEN");
                }
                ws.onclose = function(evt) {
                    print("CLOSE");
                    ws = null;
                }
                ws.onmessage = function(evt) {
                    print("RESPONSE: " + evt.data);
                }
                ws.onerror = function(evt) {
                    print("ERROR: " + evt.data);
                }
                return false;
            };
            document.getElementById("send").onclick = function(evt) {
                if (!ws) {
                    return false;
                }
                print("SEND: " + input.value);
                ws.send(input.value);
                return false;
            };
            document.getElementById("close").onclick = function(evt) {
                if (!ws) {
                    return false;
                }
                ws.close();
                return false;
            };
        });
    </script>

</head>

<body style="
    -webkit-animation-duration: {{.BgAnimationDuration}}s;
    -moz-animation-duration: {{.BgAnimationDuration}}s;
    animation-duration: {{.BgAnimationDuration}}s;
    animation-delay: {{.BgAnimationDelay}}s;">
<div class="vspace50px"></div>
<div class="container" style="display: table;">
   <b>Nick Mykins</b> • <a id="emailAddress" onmouseover="setEmailAddress()">&lt;anything&gt;@nmyk.io</a>
   <br>
   <hr>
   <div class="keys">
       <b>work:</b><br>
       <b>code:</b><br>
       <b>music:</b><br>
       <b>id:</b><br>
   </div>
   <div class="values">
       <a href="https://linkedin.com/in/nmyk" target="_blank">linkedin.com/in/nmyk</a><br>
       <a href="https://github.com/nmyk" target="_blank">github.com/nmyk</a><br>
       <a href="https://soundcloud.com/nmyk" target="_blank">soundcloud.com/nmyk</a><br>
       <a href="https://keybase.io/nmyk" target="_blank">keybase.io/nmyk</a><br>
   </div>
   <hr>
    <div class="keys">
        <b>community:</b><br>
    </div>
    <div class="values">
        <a href="https://fart.town" target="_blank">fart.town</a>
    </div>
   <hr>
   New York City
</div>

<table>
    <tr><td valign="top" width="50%">
            <p>Click "Open" to create a connection to the server,
                "Send" to send a message to the server and "Close" to close the connection.
                You can change the message and send multiple times.
            <p>
                <form>
                    <button id="open">Open</button>
                    <button id="close">Close</button>
            <p><input id="input" type="text" value="Hello world!">
                <button id="send">Send</button>
                </form>
        </td><td valign="top" width="50%">
            <div id="output"></div>
        </td></tr>
</table>

</body>

</html>
