<!DOCTYPE html>
<html lang="en">

<head>
   <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
   <link href="https://cdn.nmyk.io/assets/style.css" rel="stylesheet">
   <link href="https://cdn.nmyk.io/assets/favicon.ico" rel="icon">
   <script type="text/javascript" src="https://cdn.nmyk.io/assets/email_address.js"></script>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="description" content="Nick Mykins is a software engineer and electronic musician based in New York City."/>
   <title>nmyk.io</title>
</head>

<body style="
    -webkit-animation-duration: {{.BgAnimationDuration}}s;
    -moz-animation-duration: {{.BgAnimationDuration}}s;
    animation-duration: {{.BgAnimationDuration}}s;
    animation-delay: {{.BgAnimationDelay}}s;">
<div class="vspace50px"></div>
<div class="container">
   <b>Nick Mykins</b> • <a id="emailAddress" onmouseover="setEmailAddress()">&lt;anything&gt;@nmyk.io</a><br>
    <hr>
   <div class="keys">
       <b>work:</b><br>
       <b>code:</b><br>
       <b>music:</b><br>
       <b>id:</b><br>
   </div>
   <div class="values">
       <a href="https://linkedin.com/in/nmyk" target="_blank">linkedin.com/in/nmyk</a><br>
       <a href="https://github.com/nmyk" target="_blank">github.com/nmyk</a><br>
       <a href="https://soundcloud.com/nmyk" target="_blank">soundcloud.com/nmyk</a><br>
       <a href="https://keybase.io/nmyk" target="_blank">keybase.io/nmyk</a><br>
   </div>
   <hr>
    <div class="keys">
        <b>community:</b><br>
    </div>
    <div class="values">
        <a href="https://fart.town" target="_blank">fart.town</a>
    </div>
   <hr>
   New York City
</div>
</body>

</html>
