<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <link href="https://cdn.nmyk.io/assets/style.css" rel="stylesheet">
    <link href="https://cdn.nmyk.io/assets/favicon.ico" rel="icon">
    <script type="text/javascript" src="https://cdn.nmyk.io/assets/email_address.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="Nick Mykins is a software engineer and electronic musician based in New York City."/>
    <title>nmyk.io</title>
</head>

<body>
<div class="vspace50px"></div>
<div class="container" style="min-width: 380px; max-width: 480px;">
    <b>Nick Mykins</b> • <a id="emailAddress" onmouseover="setEmailAddress()">&lt;anything&gt;@nmyk.io</a><br>
    <br>
    <b>projects:</b>
    <ul>
        <li>• <a href="https://tmpch.at" target="_blank">tmpch.at</a> - simple p2p text chat</li>
        <li>• <a href="https://fart.town" target="_blank">fart.town</a> - an internet community</li>
    </ul>
    <br>
    <div class="keys">
        <b>music:</b><br>
        <b>code:</b><br>
        <b>work:</b><br>
    </div>
    <div class="values">
        <a href="https://soundcloud.com/nmyk" target="_blank">soundcloud.com/nmyk</a><br>
        <a href="https://github.com/nmyk" target="_blank">github.com/nmyk</a><br>
        <a href="https://linkedin.com/in/nmyk" target="_blank">linkedin.com/in/nmyk</a><br>
    </div>
    <hr>
    New York City
</div>
</body>

</html>
