<html>
<!-- Questions? Comments? Concerns? Let us know what you think: 1-800-TMP-CHAT@nmyk.io -->
<head>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <link href="https://cdn.nmyk.io/assets/style.css" rel="stylesheet">
    <link href="https://cdn.nmyk.io/assets/favicon.ico" rel="icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=500">
    <meta name="description"
          content="tmpchat is a WebRTC-based group text messaging application designed and built by Nick Mykins (nmyk.io)"/>
    <title>tmpch.at - {{.ChannelName}}</title>
    <script type="text/javascript" src="https://cdn.nmyk.io/assets/he.js"></script>
    <script>
        const signalingURL = "{{.SignalingURL|safeURL}}";
        const myUserId = "{{.UserID}}";
    </script>
    <script type="text/javascript" src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <script type="text/javascript" src="https://cdn.nmyk.io/assets/tmpchat.js"></script>
</head>

<body>
<div class="vspace50px"></div>
<div class="container" style="width: 440px; text-align: center;">
    <a href="{{.AppURL|safeURL}}/" type="home" style="margin:auto;">tmpchat</a>
    <br>
    #{{.ChannelName}}
</div>
<br>
<div class="container" style="width: 440px;">
    <div class="chatcontainer">
        <div class="messagelog" id="messagelog"></div>
    </div>
</div>
<div class="chatui">
    <div style="margin-top: 2px;">
        <form id="namechange">
            online: <input id="myname" autocomplete="off" type="nametext" size=2 maxlength=16>
        </form>
        <div style="display:inline-block;float: right;">
            <input type="button" id="clear" value="clear">
        </div>
    </div>
</div>
<div class="chatui">
    <form id="message">
        <div class="messagetextcontainer">
            <textarea rows=1 id="messagetext"></textarea>
        </div>

        <div style="float: right;">
            <input type="submit" id="send" value="send">
        </div>
    </form>
</div>
<br>
<div id="info" class="chatui" style="text-align: center;"></div>
</body>

</html>