<html>
<!-- Questions? Comments? Concerns? Let us know what you think: 1-800-TMP-CHAT@nmyk.io -->
<head>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <link href="https://cdn.nmyk.io/assets/style.css" rel="stylesheet">
    <link href="https://cdn.nmyk.io/assets/favicon.ico" rel="icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="tmpchat is a WebRTC-based group text messaging application designed and built by Nick Mykins (nmyk.io)"/>
    <title>tmpch.at - {{.ChannelName}}</title>
    <script type="text/javascript" src="https://cdn.nmyk.io/assets/he.js"></script>
    <script type="text/javascript" src="https://cdn.nmyk.io/assets/tmpchat.js"></script>
</head>

<body style="
        -webkit-animation-duration: {{.BgAnimationDuration}}s;
        -moz-animation-duration: {{.BgAnimationDuration}}s;
        animation-duration: {{.BgAnimationDuration}}s;
        animation-delay: {{.BgAnimationDelay}}s;">
<div class="vspace50px"></div>
<a href="http://{{.AppHost|safeURL}}/" type="home">tmpchat</a>
<br>
#{{.ChannelName}}

<div class="container" style="width: 80%;">
    <div class="messagelog" id="messagelog"></div>
    <div style="margin-top: 2px; margin-bottom: 10px;">
        <form id="namechange" style="width: 85%; float: left;">
            online: <input id="myname" autocomplete="off" type="nametext" size=10 maxlength=16 value="{{.User.Name}}">
        </form>
        <div style="float: right;">
            <input type="button" id="clear" value="clear">
        </div>
    </div>

    <br><br>

    <form id="message">
        <div class="messagetextcontainer">
            <textarea rows=1 id="messagetext"></textarea>
        </div>

        <div style="float: right;">
            <input type="submit" id="send" value="send">
        </div>
    </form>

    <br>

    <div id="info" style="text-align: center;"></div>
</div>
</body>

</html>