<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <link href="https://cdn.nmyk.io/assets/style-new.css" rel="stylesheet">
    <link href="https://cdn.nmyk.io/assets/favicon.ico" rel="icon">
    <script type="text/javascript" src="https://cdn.nmyk.io/assets/email_address.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Nick Mykins is a software engineer and electronic musician based in New York City."/>
    <title>nmyk.io</title>
    <script>
        window.addEventListener("load", function(evt) {
            var messageLog = document.getElementById("messagelog");
            var input = document.getElementById("messagetext");
            var ws;
            var print = function(message) {
                var d = document.createElement("div");
                d.className = "systemmessage"
                d.textContent = message;
                messageLog.appendChild(d);
            };
            ws = new WebSocket("ws://localhost:7070/");
            ws.onopen = function(evt) {
                ws.send(window.location.pathname.substr(1));
                ws.send(document.getElementById("myname").value);
                print("OPEN");
            };
            ws.onclose = function(evt) {
                print("CLOSE");
                ws = null;
            };
            ws.onmessage = function(evt) {
                print("RESPONSE: " + evt.data);
            };
            ws.onerror = function(evt) {
                print("ERROR: " + evt.data);
            };

            document.getElementById("send").onclick = function(evt) {
                if (!ws) {
                    return false;
                }
                print("SEND: " + input.value);
                ws.send(input.value);
                return false;
            };
        });
    </script>
</head>

<body style="
        -webkit-animation-duration: {{.BgAnimationDuration}}s;
        -moz-animation-duration: {{.BgAnimationDuration}}s;
        animation-duration: {{.BgAnimationDuration}}s;
        animation-delay: {{.BgAnimationDelay}}s;">
<div class="vspace50px"></div>
<b>tmpchat</b>
<br>
#{{.ChannelName}}

<div class="container" style="width: 80%;">
    <div class="messagelog" id="messagelog"></div>
    <div style="margin-top: 2px; margin-bottom: 10px;">
        <div style="width: 85%; float: left;">
            online: <input type="nametext" id="myname" size=10 maxlength=16 value=anon-00>
        </div>
        <div style="float: right;">
            <input type="submit" value="clear">
        </div>
    </div>

    <br><br>

    <form>
        <div class="messagetextcontainer">
            <textarea rows=1 id="messagetext"></textarea>
        </div>

        <div style="float: right;">
            <input type="submit" id="send" value="send">
        </div>
    </form>

    <br>

    <div style="text-align: center;">connected</div>
</div>
</body>

</html>