<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <link href="https://cdn.nmyk.io/assets/style-new.css" rel="stylesheet">
    <link href="https://cdn.nmyk.io/assets/favicon.ico" rel="icon">
    <script type="text/javascript" src="https://cdn.nmyk.io/assets/email_address.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Nick Mykins is a software engineer and electronic musician based in New York City."/>
    <title>nmyk.io</title>
    <script>
        const getChannelUrl = channelName => "http://localhost:8081/" + channelName;
        const uuidv4 = () => {
            return ([1e7]+-1e3+-4e3+-8e3+-1e11).replace(/[018]/g, c =>
                (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
            );
        };
        const hexToBase64 = hex => {
            return btoa(hex.match(/\w{2}/g).map(function(a) {
                return String.fromCharCode(parseInt(a, 16));
            }).join(""));
        };
        const getNewChannel = () => hexToBase64(uuidv4().replace(/-/g, "")).replace(/=/g, "");
    </script>
</head>

<body style="
        -webkit-animation-duration: {{.BgAnimationDuration}}s;
        -moz-animation-duration: {{.BgAnimationDuration}}s;
        animation-duration: {{.BgAnimationDuration}}s;
        animation-delay: {{.BgAnimationDelay}}s;">
<div class="vspace50px"></div>
<b>tmpchat</b>
<br>
simple peer-to-peer text messaging
<div class="container" style="display: table; text-align: center;">
    <input type="button" value="create" onclick="window.location = getChannelUrl(getNewChannel());">
    <br><br>
    or
    <br><br>
    <form id="channel" method="get">
        <input type="text" onchange="document.getElementById('channel').action = getChannelUrl(this.value);">
        <input type="submit" value="go">
    </form>
</div>



</body>

</html>
