body {
    background-color: #282828;
    color: #e8dbb6;
}

* {
    line-height: 23px;
    font-size: 16px;
    font-family: 'Inconsolata', monospace;
}

.container {
    background-color: #303030;
    border: 1px solid #e8dbb6;
    display: inline-block;
    padding: 10px;
    border-radius: 3px;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.11);
    border-bottom: 1px solid rgba(232, 219, 182, 0.32);
}

a {
    color: #c9899a;
    text-decoration: none;
}

a:hover {
    color: #c9899a;
    text-decoration: underline;
}

.keys {
    display: inline-block;
    text-align: right;
}

.values {
    display: inline-block;
    margin-left: 5px;
}
