:root {
    --main-text-color: #e8dbb6;
    --purple: #8f3f71;
    --orange: #d65d0e;
    --aqua: #427b58;
    --light-aqua: #8ec07c;
    --blue: #076678;
    --black: #282828;
}

body {
    color: var(--main-text-color);
    background: linear-gradient(
        to right, 
        var(--orange),
        var(--purple),
        var(--blue),
        var(--aqua),
        var(--orange)
    );
    background-size: 200% 100%;
    -webkit-animation: Animation 400s ease-in-out infinite;
    -moz-animation: Animation 400s ease-in-out infinite;
    animation: Animation 400s ease-in-out infinite;
}

::selection {
    background: var(--black);
}

@-webkit-keyframes Animation {
    0%{background-position:0% 0%; filter: hue-rotate(-120deg);}
    50%{background-position:100% 0%; filter: hue-rotate(240deg);}
    100%{background-position:0% 0%; filter: hue-rotate(-120deg);}
}
@-moz-keyframes Animation {
    0%{background-position:0% 0%; filter: hue-rotate(-120deg);}
    50%{background-position:100% 0%; filter: hue-rotate(240deg);}
    100%{background-position:0% 0%; filter: hue-rotate(-120deg);}
}
@keyframes Animation { 
    0%{background-position:0% 0%; filter: hue-rotate(-120deg);}
    50%{background-position:100% 0%; filter: hue-rotate(240deg);}
    100%{background-position:0% 0%; filter: hue-rotate(-120deg);}
}

html {
    line-height: 23px;
    font-size: 16px;
    font-family: 'Inconsolata', monospace;
}

div.vspace100px {
    clear: both;
    height: 100px;
}

.container {
    display: table;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(0,0,0,0.2);
    padding: 10px;
    border-radius: 3px;
    width: 360px;
}

hr {
    visibility: hidden;
}

a {
    color: var(--light-aqua);
    text-decoration: none;
}

a:hover {
    color: var(--light-aqua);
    text-decoration: underline;
}

.keys {
    display: inline-block;
    text-align: right;
}

.values {
    display: inline-block;
    margin-left: 5px;
}
