:root {
    --alt-text-color: #3c3836;
    --black: #282828;
    --yellow: #fabd2f;
}

* {
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
    line-height: 23px;
    font-size: 16px;
}

body {
    color: var(--black);
    text-align: center;
    background: white;
}

::selection {
    background: var(--yellow);
}

div.vspace50px {
    clear: both;
    height: 50px;
}

input, textarea, button, submit, .chatcontainer {
    background: none;
    border: 1px solid var(--black);
    border-radius: 4px;
    height: 27px;
}

input[type="button"] {
    padding: 2px;
}

input[type="submit"] {
    margin: auto;
    width: 50px;
}

.container, .chatui {
    display: table;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    min-width: 360px;
    max-width: 480px;
}

.chatui {
    min-width: 440px;
}

.chatcontainer {
    height: 400px;
    max-width: 440px;
    min-width: 360px;
    padding: 20px;
    display: table-cell;
    vertical-align: bottom;
}

.messagelog {
    max-height:400px;
    overflow:auto;
}

.myname {
    float: right;
    font-weight: bold;
    text-align: right;
    padding-left: 8px;
}

.theirname {
    float: left;
    font-weight: bold;
    text-align: left;
    padding-right: 8px;
}

.mymessage pre {
    text-align: right;
    overflow: hidden;
    color: var(--alt-text-color);
    margin-bottom: 10px;
}

.theirmessage pre {
    text-align: left;
    overflow: hidden;
    color: var(--alt-text-color);
    margin-bottom: 10px;
}

.systemmessage {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="nametext"] {
    padding-left: 5px;
}

textarea#messagetext {
    padding-left: 10px;
    width: 100%;
    resize: vertical;
}

.messagetextcontainer {
    width: calc(100% - 56px);
    float: left;
}

hr {
    visibility: hidden;
}

a {
    color: var(--alt-text-color);
    text-decoration: none;
}

a:hover {
    color: var(--alt-text-color);
    text-decoration: underline;
}

a[type="home"], a[type="home"]:hover {
    color: var(--black);
    font-weight: bold;
    text-decoration: none;
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

ul {
    margin: 0px;
    padding-left: 20px;
}

li {
    list-style: none;
}

.keys {
    display: inline-block;
    text-align: right;
}

.values {
    display: inline-block;
    margin-left: 5px;
}
